@font-face {
  font-family: 'gotham';
  src: url(fonts/GothamBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'gotham';
  src: url(fonts/GothamLight.ttf);
}

@font-face {
  font-family: 'helvetica neue';
  src: url('fonts/HelveticaNeueLT75Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'helvetica neue';
  src: url('fonts/HelveticaNeueLT65Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'helvetica neue';
  src: url('fonts/HelveticaNeueLT45Light.ttf');
}

.styling {
  color: grey;
  font-size: medium;
  padding-top: 7px;
  padding-left: 75px;
}

.username {
  margin-left: 180px;
}

.center {
  text-align: center;
  color: white;
  background-color: #d35266;
  padding-top: 40px;
}

.search-section {
  background-color: #d35266;
  height: 250px;
  padding-left: 15px;
}

.search-section i,
.search-section input,
.search-section button {
  margin-top: 40px;
  width: 180px;
  height: 30px;
  border: none;
  margin-left: 2px;
}

.search-section input,
.search-section button {
  position: relative;
}

.search {
  padding-left: 10px;
}

.caret {
  margin-left: 20px;
}

.search-section button {
  background-color: #383838;
  color: white;
  font-family: Helvetica, sans-serif, gotham;
  margin-left: 4px;
}

.search-section i {
  position: absolute;
  z-index: 1;
  margin-right: 220px;
  padding-top: 8px;
}

.sony-mobile-details {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-gap: 30px;
}

.ml-tab {
  margin-top: 30px;
}

.mt {
  margin-top: 0;
}

.back {
  background-color: white;
  height: 420px;
  width: 280px;
  text-align: center;
  margin-left: 20px;
}

.back img {
  width: 220px;
}

.product-name {
  width: 200px;
}

.lightgrey {
  background-color: lightgray;
  height: 1000px;
}

.company-detail,
.logo-name {
  width: 350px;
  list-style-type: none;
}

.mt-11 {
  margin-top: 65px;
  padding-left: 30px;
}

.copyrights {
  font-size: 16px;
  margin-top: 15px;
  padding-left: 10px;
}

.right-side {
  margin-left: 800px;
  font-size: 30px;
}

/* ====search.html=== */
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.border-right {
  border-right: 1px solid white;
}

.products-details img {
  height: 200px;
  width: 240px;
  object-fit: contain;
}

.products-info {
  width: 600px;
}

.products-infos {
  padding-top: 10px;
}

.plus-icon i {
  margin-left: 350px;
}
